* {
  margin: 0;
}

body {
  background-color: #272d4d;
}
.logo img {
  margin: 0;
  width: 70px;
  margin-left: 65px;
  padding: 70px;
  display: flex;
  flex-wrap: wrap;
 
}

.icone img  {
  margin: 10px;
  position: relative;
  top: -135px;
  left: 67%;
  width: 45px;
  display: flex;
  border: solid 3px #6bc558;
  border-radius: 10px 3px;
  padding: 1px;
    display: inline-block;
    transition: transform .2s;
 
}

.icone img:hover{
  background-color: #6bc558;
  transition: 0.5s;
  box-shadow: 0px 10px 30px -12px #6bc558;
  transform: scale(1.2);
}

.text {
  position: absolute;
  padding: 10px;
  margin-left: 20%;
  top: 80px;
  display: flex;
  
}

.text a {
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  font-weight: 600;
  padding-right: 1;
    padding-left: 20px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    transition: transform .3s;
}
.text a:hover {
  color: #6bc558;
  transition: 0.5s;
  transform: scale(1.2);
  
  
}


.text img {
  width: 50px;
}


.magi {
  width: 35%;
  padding-left: 100px;
  margin-top: -30px;
}


.magi {
  width: 35%;
  padding-left: 100px;
  margin-top: -30px;
}


.leg p {
  position: absolute;
  color: white;
  font-size: 28px;
  width: 40%;
  padding-left: 50%;
  margin-top: -30%;
  font-weight: 600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.leg a {
  position:absolute;
  left: 50%;
  top: 58%;
  text-decoration: none;
  color: white;
  font-size: 25px;
  border: solid 2px #6bc558;
  padding: 10px;
  border-radius: 10px 3px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  transition: transform .2s;
  flex-wrap: wrap;
}

.leg a:hover{
  background-color: #6bc558;
  transition: 0.5s;
  box-shadow: 0px 10px 30px -12px #6bc558;
  transform: scale(1.2);
}


#post h1 {
  position:absolute;
  top: 45%;
  left: 5%;
  color: white;
  font-size: 45px;
  border: solid 2px #6bc558;
  padding: 10px;
  border-radius: 10px 3px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  flex-wrap: wrap;
}
 #post h1:hover{
  background-color: #6bc558;
  transition: 0.5s;
  box-shadow: 0px 10px 30px -12px #6bc558;
  transform: scale(1.2);
  cursor: pointer;
}
#post img {
  position: relative;
  width: 20%;
  margin-left: 60px;
  top: 140px;
 border-radius: 10px;
  flex-wrap: wrap;
}

#post img:hover {
  background-color: #6bc558;
  transition: 0.5s;
  box-shadow: 0px 10px 30px -12px #6bc558;
  transform: scale(1.2);
  cursor: pointer;
}

#post1 h1 {
  max-width: 100%;
  position:absolute;
  left: 10%;
 margin-top: 90px;
  color: white;
  font-size: 45px;
  border: solid 2px #6bc558;
  padding: 10px;
  border-radius: 10px 3px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  flex-wrap: wrap;
}

#post1 h1:hover{
  background-color: #6bc558;
  transition: 0.5s;
  box-shadow: 0px 10px 30px -12px #6bc558;
  transform: scale(1.2);
  cursor: pointer;
}

#post1 img {
  max-width: 100%;
position: relative;
margin: 5px;
  width: 20%;
  margin-left: 60px;
  top: 200px;
  border-radius: 10px;
   flex-wrap: wrap;
}
#post1 img:hover {
  background-color: #6bc558;
  transition: 0.5s;
  box-shadow: 0px 10px 30px -12px #6bc558;
  transform: scale(1.2);
  cursor: pointer;
}

footer {
  background-color: #272d4d;
  color: #fff;
  box-shadow: 0px 10px 30px -12px #6bc558;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
